@{
    ViewData["Title"] = "Acesso Negado";
}

<h1 class="text-center">Acesso Restrito!</h1>
<h4 class="text-center">Esta página só pode ser Acessada por administradores do Sistema</h4>
<a class="text-center" href="/Home/Index">Voltar ao início</a>